<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
    <title>AlbumWeb</title>
  </head>
  <body>
  <nav>
    <ul>
      <li><a href="../album">Dodaj album</a></li>
      <li><a href="../album/thedarksideofthemoon">Baza albumów</a></li>
      <li><a href="#">Baza artystów</a></li>
      <li><a href="#">Rankingi</a></li>
    </ul>
  </nav>
    <section>
      <img src="/covers/thedarksideofthemoon.jpg" width="300">
      <div id="albumDescription">
        <h4>name: The Dark side of the Moon</h4>
      </div>
      <div id="rateAlbumForm">
        <form th:action="@{/album/rateAlbum}" method="post" id="addAlbumForm">
          <label for="vote">The Dark Side of The Moon</label><br>
          <input type="number" id="vote" name="vote" min="1" max="10"/><br>
          <input type="hidden" id="albumName" name="albumName" value="The dark side of the Moon"/>
          <input id="button" type="submit" value="Oceń album"/><br>
        </form>
      </div>
    </section>
  </body>
</html>

