<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>AlbumWeb</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="album">Dodaj album</a></li>
    <li><a href="album/thedarksideofthemoon">Baza albumów</a></li>
    <li><a href="#">Baza artystów</a></li>
    <li><a href="#">Rankingi</a></li>
    <li><a href="registration">Zarejestruj się!</a></li>
    <li><a href="#">Zaloguj się</a></li>
  </ul>
</nav>
<h3>Formularz dodawania albumu</h3>
<form th:action="@{/processRegistration}" method="post" id="registrationForm">
  <label for="login">Login</label><br>
  <input type="text" id="login" name="login"/><br>
  <label for="password">Hasło</label><br>
  <input type="password" id="password" name="password"/><br>
  <input id="button" type="submit" value="Zarejestruj się"/><br>
</form>
</body>
</html>